doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="style.css")
    title Arei
  body
    header.header
      button.header__menu
      img.header__logo(src="", alt="")
      span.header__login Login
      span.header__register Register 
    section.title
      h1.title__tagline Move and adventure
      .title__persons-wrapper
        p.title__caption Adventurous Person
        .title__persons
          img.title__userpic(src="", alt="")
          img.title__userpic(src="", alt="")
          img.title__userpic(src="", alt="")
          div.title__userpic 8+
    section.content
      .statistics
        p.statistics__caption Outdoor & Sporting Goods Company 
        a.statistics__link(href="") EXPLORE MORE
        p.statistics__description We have more special goods for you 🚀
        .statistics__products 
          span.statistics__first-line More than
          span.statistics__second-line 50+
          span.statistics__third-line adventure product
        .statistics__outlets 
          span.statistics__first-line More than
          span.statistics__second-line 75+
          span.statistics__third-line outlet in Indonesia
        .bottom 
          .bottom__wrapper
            img.bottom__image(src="", alt="")
            span.bottom__first-line Waranty 
            span.bottom__second-line Lifetime
          .bottom__wrapper 
            img.bottom__image(src="", alt="")
            span.bottom__first-line Payment
            span.bottom__second-line Easy & Safe
      .goods
        img.goods__large-picture(src="", alt="")
        .goods__advertise-wrapper
          p.goods__title December give away
          button.goods__prev-button 
          .goods__item
          img.goods__item-picture(src="", alt="")
          button.goods__next-button 
          p.goods__item-title Ransel Genali 25L 01
        img.goods__small-picture(src="", alt="")
        img.goods__logo(src="", alt="")
    .side
      p.side__hashtag #areioutdoorgear
      button.side__shopping-cart