@import url("./vendor/normalize.css");
@import url("./font/font.css");

body {
  width: 1440px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  margin: 0 auto;
  font-family: 'Lexend Deca', sans-serif;
  letter-spacing: -1px;
  display: grid;
  grid-template-areas:
    "side header header"
    "side title title"
    "side statistic products"
    "footer footer products";
  grid-template-columns: 128px auto 668px;
  grid-template-rows: 215px auto 468px 200px;
  gap: 0;
}

.side-bar {
  grid-area: side;
  width: 127px;
  display: flex;
  flex-direction: column;
  border-right: 1px #D1D6E0 solid;
  justify-content: space-between;
  align-items: center;
  padding: 55px 0;
}

.side-bar__menu {
  border: 0;
  background-color: unset;
  width: 38px;
  height: 17px;
}

.side-bar__shopping-cart {  
  border: 0;
  background-color: unset;
  width: 60px;
  height: 60px;
}

.side-bar__hashtag {
  writing-mode: sideways-lr;  
  text-transform: uppercase;
  font-size: 16px;
  height: 100px;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 85px 0 76px;
  height: fit-content;
}

.header__logo {
  width: 119px;
  height: 65px;
}

.header__login-wrapper {
  width: 212px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
}

.header__link {
  text-transform: uppercase;
  font-size: 18px;
  color: #000;
}

.title {
  grid-area: title;
  padding: 0 98px 0 76px;
  display: flex;
  justify-content: space-between;
}

.title__tagline {
  font-size: 100px;
  font-weight: 800;
  line-height: 100px;
  text-transform: uppercase;
  margin: 0;
  width: 667px;
}

.title__persons-wrapper {
  width: 240px;
  height: 132px;
}

.title__caption {  
  text-transform: uppercase;
  font-size: 20px;
  line-height: 40px;
  color: #9497A8;
  margin: 0;
}

.title__persons {
  margin-top: 22px;
  display: flex;
  align-items: center;
}

.title__userpic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #FFE7E5;
  margin-left: -21px;
}

.title__more-users {  
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #FFE7E5;
  color: #D93A31;
  font-size: 24px;
  margin-left: -21px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.title__userpic:first-of-type {
 margin-left: 0;
}

.statistic {  
  grid-area: statistic;
  margin-left: 76px;
}

.statistic__caption {
  font-size: 24px;
  font-weight: 600;
  line-height: 100px;
  margin: 0;
}

.statistic__link {
  display: flex;
  width: 249px;
  height: 60px;
  background-color: #D93A31;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.statistic__link-arrow {
  margin-left: 30px;
}

.statistic__description{
  font-size: 18px;
  font-weight: 300;  
  letter-spacing: normal;
}

.statistic__wrapper {
  display: flex;
  margin-top: 80px;
  width: 470px;
  justify-content: space-between;
}

.statistic__first-line {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

.statistic__second-line {
  font-size: 80px;
  font-weight: 800;
  margin: 0;
}

.statistic__third-line {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

.footer {
  grid-area: footer;
  background-color: #2B2B35;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 110px 0 75px;
}

.footer__block-wrapper {
  display: flex;
}

.footer__image {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.footer__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__first-line {
  font-size: 14px;
  color: #B5B5C2;
  text-transform: uppercase;
  margin: 0;
}

.footer__second-line {
  font-size: 24px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  margin: 4px 0 0 0;
}

.products {  
  grid-area: products;
  display: flex;
}

.products__logo {
  position: relative;
  width: 100px;
  height: 100px;
  top: 284px;
  right: 384px;
}

.products__large-picture {
  width: 335px;
  height: 668px;
}

.products__right-block {
  margin-left: -1px;
}

.products__small-picture {
  width: 334px;
  height: 334px;
}

.products__advertise-wrapper {
  background-color: #2B2B35;
  color: white;
  width: 334px;
  height: 334px;
  padding: 24px 0 34px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.products__title {
  text-transform: uppercase;
  margin: 0;
  font-size: 20px;
  line-height: 40px;
  font-weight: 600;
}

.products__slider-wrapper {  
  display: flex;
  justify-content: center;
  align-items: center;
}

.products__button {
  background-color: unset;
  border: none;
}

.previous-button {
  margin-right: -10px;
  z-index: 1;
  cursor: pointer;
  height: 10px;
}

.next-button {
  margin-left: -10px;
  z-index: 1;
  cursor: pointer;
  height: 10px;
}

.products__button-circle {
  position: relative;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #D93A31;
  opacity: 0;
  transition: opacity ease-in-out .2s;  
  z-index: -1;
  top: -22px;
}

.next-circle {
  left: 28px;
}

.previous-circle {
  left: -10px;
}

.previous-button:hover > .previous-circle {  
  opacity: 1;
}

.next-button:hover > .next-circle {  
  opacity: 1;
}

.products__item-wrapper-outer {
  width: 196px;
  height: 196px;
  background-color: #404049;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color ease-in .3s;
  cursor: pointer;
}

.products__item-wrapper-outer:hover {
  background-color: #53535b;
}

.products__item-wrapper-inner {
  width: 150px;
  height: 150px;
  background-color: #53535b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products__item-title {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 30px;
  text-decoration: underline;
  letter-spacing: normal;
}

.clickable {
  transition: opacity ease-in .3s;
  cursor: pointer;
}

.clickable:hover {
  opacity: .6;
}